<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.kit.pse.goapp.client.goapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="edu.kit.pse.client.goapp.activity.MeetingListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.kit.pse.client.goapp.activity.MeetingParticipantActivity"/>
        <activity android:name="edu.kit.pse.client.goapp.activity.CreateNewMeetingActivity"/>
        <activity android:name="edu.kit.pse.client.goapp.activity.GroupsActivity" />

        <service
            android:name="edu.kit.pse.client.goapp.service.GroupsService"
            android:exported="false" />

        <service
            android:name="edu.kit.pse.client.goapp.service.GroupService"
            android:exported="false" />

        <service
            android:name="edu.kit.pse.client.goapp.service.GroupUserManagmentService"
            android:exported="false" />

        <activity android:name="edu.kit.pse.client.goapp.activity.GroupMemberActivity"></activity>
    </application>

</manifest>